@tailwind base;
@tailwind components;
@tailwind utilities;

.text-light{
        color: #EFEEE0;
    }
.text-grey{
        color: #ffffff40
}
.text-secondary{
        color: #FACD66;
}
.active{
        @apply text-white;
}
.text-primary{
        color:#9CBCBB;
}
.bg-primary{
        background-color :#9CBCBB
}
.bg-secondary{
        background-color :#FACD66
}

.bg-light{
        background-color: #efeee0;
}
.bg-dark{
        background-color: #1d2123;
}

.card{
        @apply px-4 py-5 border rounded-md sm:px-6
    }
.card-light{
        @apply bg-white border-gray-200 text-black
    }
.card-dark{
        @apply bg-dark border-gray-700 text-white
    }
.card-header{
        @apply text-xl leading-6 font-medium
}
.sidebar-active{
        @apply text-secondary
    }
#card-1{
        background-image: url("assets/vector.svg");
        background-repeat: no-repeat;
        background-color: #D5643C;
        background-size: cover;
}

.content{
        opacity: 0;
        animation: dropInFromLeft 5s ease-in-out forwards;
        animation-delay: calc(var(--order) * 200ms);
}
.fadeInUp{
        opacity: 0;
        animation: fadeInUp var(--time) ease-in-out forwards;
        animation-delay: calc(var(--order) * 200ms);
}
.btn-active{
        @apply hover:bg-[#f3c866dd] bg-secondary text-black
}

#mobile-nav{
        transform: translateX(-260px);
}

@keyframes fadeInUp {
        from{
                opacity: 0;
                transform: translateY(20%);
        }
        to{
                opacity: 1;
                transform: translateY(0);
        }
}

@keyframes dropInFromLeft {
        0%{
                opacity: 0;
                transform: translateX(-20%);
        }
        30%,100%{
                opacity: 1;
                transform: translateX(0);
        }
}

/* Animasi Jika Scroll Menggunakan IntersectionObserver */
:root{
        --time: 1s;
        --delay: 0s;
}
/* time css */
.time-1{
        --time: 1s;
}
.time-2{
        --time: 2s;
}
.time-3{
        --time: 3s;
}
.time-4{
        --time: 4s;
}
.time-5{
        --time: 5s;
}
.time-6{
        --time: 6s;
}
.delay-1{
        --delay: 200ms;
}
.delay-2{
        --delay: 400ms;
}
.delay-3{
        --delay: 600ms;
}
.delay-4{
        --delay: 750ms;
}
.delay-5{
        --delay: 850ms;
}
.delay-6{
        --delay: 1000ms;
}

/* Animasi CSS */
.tersembunyi{
        opacity: 0;
        filter: blur(2px);
        transition: all var(--time);
        transition-delay: var(--delay);
}
.terlihat{
        opacity: 1;
        filter: blur(0);
}

.tersembunyi.fade-right{
        transform: translateX(-100%);
}
.terlihat.fade-right{
        transform: translateX(0);
}
.tersembunyi.fade-left{
        transform: translateX(100%);
}
.terlihat.fade-left{
        transform: translateX(0);
}
.tersembunyi.fade-down{
        transform: translateY(-100%);
}
.terlihat.fade-down{
        transform: translateY(0);
}
.tersembunyi.fade-up{
        transform: translateY(100%);
}
.terlihat.fade-up{
        transform: translateY(0);
}

.tersembunyi.zoom-in{
        opacity: 0;
        transform: translateZ(0) scale(0);
}
.terlihat.zoom-in{
        opacity: 1;
        transform: translateZ(0) scale(1);
}

